.completed {
    text-decoration: line-through;

  }

  .task {
    color: red;
    font-size:2rem;
  }
  

  button{
border-radius:5px;
background-color: blue;
color:red;
text-decoration:none

  }

  input{

    background-color: aqua;
  }